{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content" style="background-color: whitesmoke;">
        <div class="container">
            <h2>Kontakt</h2>
            <!----start-main-content----->
            <div class="main-content">
                <!---start-contact---->
                <div class="contact">
                    <div class="contact_info">
                        <h3>Znajdziesz nas tutaj</h3>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d512548.72980999434!2d-66.3067789165926!3d18.684467114478952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c0366eb878aa03d%3A0x250dcd3a342491ec!2sCarolina%2C%20Puerto%20Rico!5e0!3m2!1sen!2sus!4v1607012813989!5m2!1sen!2sus"
                                    width="100%" height="275" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            <br><small><a
                                style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                        </div>
                    </div>
                    <div class="section group">
                        <div class="col span_1_of_3">

                            <div class="company_address">
                                <h3>Informacje o piekarni:</h3>
                                <p>Księcia Janusza</p>
                                <p>01-241 Wola, Warszawa</p>
                                <p>Polska</p>
                                <p>Phone:(86)661 845 255</p>
                                <p>Fax: (862) 661 835 215</p>
                                <p>Email: <span>contact@bakingcorner.com</span></p>
                                <p>Jesteśmy na: <span><a href="http://www.facebook.com" target="_blank">Facebook</a></span>, <span><a href="http://www.twitter.com" target="_blank">Twitter</a></span></p>
                            </div>
                        </div>
                        <div class="col span_2_of_3">
                            <div class="contact-form">
                                <h3>Kontakt</h3>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <span><label>NAME</label></span>
                                        {{  form.name }}
                                    </div>
                                    <div>
                                        <span><label>E-MAIL</label></span>
                                        {{  form.email }}
                                    </div>
                                    <div>
                                        <span><label>MOBILE</label></span>
                                        {{  form.phone }}
                                    </div>
                                    <div>
                                        <span><label>SUBJECT</label></span>
                                        {{  form.message }}
                                    </div>
                                    <div>
                                        <span><input type="submit" value="Submit"></span>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!---End-contact---->
                </div>
                <div class="clear"></div>
                <!----End-main-content----->
            </div>
        </div>
    </div>
{% endblock %}