<hr>
<footer class="page-footer text-center font-small mt-1 wow fadeIn footer">

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-6" style="margin: 0px 80px;">
            <h4 style="color: #FC6391;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 -5px 0;">Lokalizacja</h4>
            <p style="font-size: 1em;font-weight: 400;color: #7F7D7E;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Księcia Janusza<br/>01-241 Wola, Warszawa</p>
            <h4 style="color: #FC6391;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700; margin: 0 0 -5px 0">Godziny otwarcia</h4>
            <p style="font-size: 1em;font-weight: 400;color: #7F7D7E;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Pon-Pt 7:00-19:00</p>
            <p style="font-size: 1em;font-weight: 400;color: #7F7D7E;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Weekendy 8:00-18:00</p>
            <p style="font-size: 1em;font-weight: 400;color: #7F7D7E;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Święta: Zamknięte</p>
        </div>
        <div class="col-xs-6" style="margin: 0px 40px;">
            <h4 style="color: #FC6391;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 -5px 0;">Obsługa klienta</h4>
            <h4 style="color: #FC6391;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 -5px;">Telefon</h4>
            <h6 style="font-size: 1em;font-weight: 400;color: #7F7D7E;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">(86)661 845 255</h6>
            <h4 style="color: #FC6391;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 0px;">Kontakt</h4>
            <h6 style="font-size: 1em;font-weight: 400;color: #7F7D7E;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Zakładka kontakt</h6>
        </div>
         <div class="col-xs-6" style="margin: 0px 50px;">
            <h4 style="color: #FC6391;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 40px 10px;">Find us at:</h4>
             <i class="fb" style="position: absolute;display: inline-block;padding-top: 40px;padding-left: 10px">Facebook</i>
             <img src="/media/static_files_proj/img/foot.png" title="name">
             <i class="fb" style="position: absolute;display: inline-block;
                padding-top: 40px;padding-left: 10px; margin-left: 40px">Twitter</i>
             <img src="/media/static_files_proj/img/foot.png" title="name" style="margin-left: 30px">
             <i class="fb" style="position: absolute;display: inline-block;
                padding-top: 40px;padding-left: 10px; margin-left: 30px">Instagram</i>
             <img src="/media/static_files_proj/img/foot.png" title="name" style="margin-left: 30px">
        </div>
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3 red lighten-2">
      © 2020 Copyright
{#      <a href="/" target="_blank" style="color: snow"> </a>#}
    </div>
    <!--/.Copyright-->
  </footer>