<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <div class="row">
        <div class="col-xs-6" style="margin: 0px 40px;">
            <h4 style="color: navajowhite;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 -5px 0;">location</h4>
            <p style="font-size: 1em;font-weight: 400;color: white;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">89th Avenue, Boston<br/>013-2242 USA</p>
            <h4 style="color: navajowhite;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700; margin: 0 0 -5px 0">hours</h4>
            <p style="font-size: 1em;font-weight: 400;color: white;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Weekdays 7 a.m.-7 p.m.</p>
            <p style="font-size: 1em;font-weight: 400;color: white;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Weekends 8 a.m.-7 p.m.</p>
            <p style="font-size: 1em;font-weight: 400;color: white;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Call for Holidays Hours.</p>
        </div>
        <div class="col-xs-6">
            <h4 style="color: navajowhite;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 -5px 0;">customer service</h4>
            <p style="font-size: 1em;font-weight: 400;color: white;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">Lorem ipsum dolor sit amet,<br/> consectetuer adipiscing elit, <br/>
                sed diam nonummy nibh euismod. </p>
            <h4 style="color: navajowhite;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 -5px;">phone</h4>
            <h6 style="font-size: 1em;font-weight: 400;color: white;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">(86)664 805 215</h6>
            <h4 style="color: navajowhite;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 0 0px;">contact us</h4>
            <h6 style="font-size: 1em;font-weight: 400;color: white;text-transform: uppercase;margin: 0 0 10px;font-size: 1em;">contact us page.</h6>
        </div>
         <div class="col-xs-6">
            <h4 style="color: navajowhite;text-transform: uppercase;padding: 0 0 0.5em 0;font-weight: 700;margin: 0 40px 10px;">Find Karolcia at:</h4>
              <i class="fb" style="position: absolute;display: inline-block;padding-top: 40px;padding-left: 10px">Facebook</i>
             <img src="/media/static_files_proj/img/foot.png" title="name">
        </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright by
      <a href="/" target="_blank"> Karolcia </a>
    </div>
    <!--/.Copyright-->

  </footer>