{% extends 'base.html' %}
{% load static %}F
{% block content %}
    <!--Main layout-->
    <main>
        <div class="container" style="margin-top: 60px;">

            <!--Navbar-->
            {#        Lub red darken-4#}
            <nav class="navbar navbar-expand-lg navbar-dark mdb-color red lighten-2 mt-3 mb-5">

                <!-- Navbar brand -->
                <span class="navbar-brand">Categories:</span>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        {% if category_menu %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/shop">Wszystkie</a>
                                {#              <a class="nav-link" href="{% url 'core:categories' %}">{{ item }}</a>#}
                            </li>
                            {% for item in category_menu %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="?category={{ item.id }}">{{ item.name }}</a>
                                    {#              <a class="nav-link" href="{% url 'core:categories' %}">{{ item }}</a>#}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <form class="form-inline" method="GET" action="{% url 'core:search' %}">
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search"
                                   aria-label="Search">
                        </div>
                    </form>
                </div>
                <!-- Collapsible content -->

            </nav>
            <!--/.Navbar-->
            <!--Section: Products v.3-->
            <section class="text-center mb-4" style="margin-top: 40px">

                <div class="row wow fadeIn">
                    {% if all_search_results %}
                        {% for item in all_search_results %}
                            <div class="col-lg-3 col-md-6 mb-4">
                                <!--Card-->
                                <div class="card">
                                    <!--Card image-->
                                    <div class="view overlay" style="float: left;">
                                        <img src="{{ item.image.url }}" class="card-img-top"
                                             style="width: 260px; height: 160px;"
                                             alt="">
                                        <a href="{{ item.get_absolute_url }}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <!--Category & Title-->
                                        <a href="" class="grey-text">
                                            <h5>{{ item.category }}</h5>
                                        </a>
                                        <h5>
                                            <strong>
                                                <a href="{{ item.get_absolute_url }}"
                                                   class="dark-grey-text"> {{ item.title }}</a>
                                                <div>
                                                    {% if item.label == 'P' %}
                                                        <span class="badge badge-pill primary-color">Nowość</span>
                                                    {% elif item.label == 'S' %}
                                                        <span class="badge badge-pill secondary-color">Wyprzedaż</span>
                                                    {% elif item.label == 'D' %}
                                                        <span class="badge badge-pill danger-color">Promocja</span>
                                                    {% elif item.label == '' %}
                                                        <span class="badge badge-pill danger-color"></span>
                                                    {% endif %}
                                                </div>
                                            </strong>
                                        </h5>
                                        <h4 class="font-weight-bold blue-text">
                                            <strong>
                                                {% if item.disc_price|floatformat:2 %}
                                                    {{ item.disc_price|floatformat:2 }}
                                                {% else %}
                                                    {{ item.price|floatformat:2 }}
                                                {% endif %} zł
                                            </strong>
                                        </h4>
                                    </div>
                                    <!--Card content-->
                                </div>
                                <!--Card-->
                            </div>
                        {% empty %}
                            None to display
                        {% endfor %}
                    {% else %}
                        {% for item in cakes %}
                            <div class="col-lg-3 col-md-6 mb-4">
                                <!--Card-->
                                <div class="card">
                                    <!--Card image-->
                                    <div class="view overlay" style="float: left;">
                                        <img src="{{ item.image.url }}" class="card-img-top"
                                             style="width: 260px; height: 160px;"
                                             alt="">
                                        <a href="{{ item.get_absolute_url }}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->

                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <!--Category & Title-->
                                        <a href="" class="grey-text">
                                            <h5>{{ item.category }}</h5>
                                        </a>
                                        <h5>
                                            <strong>
                                                <a href="{{ item.get_absolute_url }}"
                                                   class="dark-grey-text">{{ item.title }}
                                                </a>
                                                <div>
                                                    {% if item.label == 'P' %}
                                                        <span class="badge badge-pill primary-color">Nowość</span>
                                                    {% elif item.label == 'S' %}
                                                        <span class="badge badge-pill secondary-color">Wyprzedaż</span>
                                                    {% elif item.label == 'D' %}
                                                        <span class="badge badge-pill danger-color">Promocja</span>
                                                    {% endif %}
                                                </div>
                                            </strong>
                                        </h5>

                                        <h4 class="font-weight-bold blue-text">
                                            <strong>
                                                {% if item.disc_price|floatformat:2 %}
                                                    {{ item.disc_price|floatformat:2 }}
                                                {% else %}
                                                    {{ item.price|floatformat:2 }}
                                                {% endif %} zł
                                            </strong>
                                        </h4>

                                    </div>
                                    <!--Card content-->

                                </div>
                                <!--Card-->

                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </section>

            <!--Section: Products v.3-->

            <!--Pagination-->
            {% if is_paginated %}
                <nav class="d-flex justify-content-center wow fadeIn">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link red lighten-3" href="?page={{ page_obj.previous_page_number }}
                                {% for key,value in request.GET.items %}
                                    {% ifnotequal key 'page' %}&{{ key }}={{ value }}
                                    {% endifnotequal %}
                                {% endfor %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link red lighten-2" href="?page={{ page_obj.number }}
                                {% for key,value in request.GET.items %}
                                    {% ifnotequal key 'page' %}&{{ key }}={{ value }}
                                    {% endifnotequal %}
                                {% endfor %}">
                                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                            </a>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link red lighten-3" href="?page={{ page_obj.next_page_number }}
                                {% for key,value in request.GET.items %}
                                    {% ifnotequal key 'page' %}&{{ key }}={{ value }}
                                    {% endifnotequal %}
                                {% endfor %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            <!--Pagination-->
        </div>
    </main>
    <!--Main layout-->
{% endblock %}