{% extends 'home.html' %}

{% block search %}
                <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

                <!-- Navbar brand -->
                <span class="navbar-brand">Categories:</span>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        {% if category_menu %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Wszystkie</a>
                                {#              <a class="nav-link" href="{% url 'core:categories' %}">{{ item }}</a>#}
                            </li>
                            {% for item in category_menu %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="/?category={{ item.id }}">{{ item.name }}</a>
                                    {#              <a class="nav-link" href="{% url 'core:categories' %}">{{ item }}</a>#}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    {#              <ul class="navbar-nav mr-auto">#}
                    {#              {% for items in object_list %}#}
                    {#            <li class="nav-item active">#}
                    {#              <a class="nav-link" href="#">{{ items.category }}</a>#}
                    {#            </li>#}
                    {#              {% endfor %}#}
                    {#          </ul>#}
                    <!-- Links -->

                    <form class="form-inline" method="GET" action="{% url 'core:search' %}">
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search">
                        </div>
                    </form>
                </div>
                <!-- Collapsible content -->

            </nav>
</div>
{% endblock %}